/* Css.Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


    /* Generals */

    header {
        background-color: lightblue;
    }

    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .container {
        max-width: 1080px;
        border-color: black;
        display: block;
        margin: 0  auto;
    }

    .group {
        min-height: 600px;
    }




    /* Utilities */

    .header-top > * {
        border-color: black;
        background-color: goldenrod;
        border-style: dashed;
        align-content: center;
        text-align: center;

    }

    .f-b {
        flex-basis: 20%;
        min-height: 50%;
    }

    .nav {
        flex-basis: 50%;
    }

    .spotlight {
        background-color: rgb(3, 3, 58);
        min-height: 500px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .spotlight-content {
        padding: 20px;
        border: 2px, black, dashed;
        width: 50%;
        height: 400px;
        margin-left: 25%;
        margin-right: 25%;
        background-color: pink;
        
    }


    .d-f {
        display: flex;
        padding: 25px;
    }

    .b-visibility {
        border: 2px , black , dashed;
        background-color: blue;
        flex-basis: 50%;
    }
    
